#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#flashes {
    width: 100%;
}

#flashes_new{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#subcontainer {
    display: flex;
    flex-direction: row;
}

#sidebar {
    width: 250px;
    padding: 10px;
    background: whitesmoke;
    color: #00a9ea;
}

#content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#top {
    height: 50px;
    /* flex: 1 1 auto; */

    padding: 10px;
    border-bottom: 1px solid lightgrey;
    background: white;
}

#middle_container {
    height: calc(100vh - 50px - 60px);
    /* top height, bottom height, flashes height. probably remove top height and let top flex grow to size as buffer */
    vertical-align: bottom;

    display: flex;

    flex-grow: 1;
}

#middle {
    align-self: flex-end;
    max-height: 100%;
    width: calc(100vw - 250px);
    overflow-y: auto;
}

#bottom {
    height: 60px;

    padding: 10px;
    border-top: 1px solid lightgrey;
    background: white;
}

#channel_list {
    list-style: none;
    padding: 2px;
    margin-left: 2px;
}

.fa-stack {
    font-size: 0.5em;
}

.border-bottom-only {
    background: none;
    
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;

    border-bottom-color: lightgrey;
}

.form-control:focus {

    background: none;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;

    box-shadow: 0px 0px 0px lightgray inset;

    border-bottom-color: #00a9ea;
}

hr {
    background-color: lightgrey;
    height: 0px;
}

a {
    color: grey;
}

a:hover {
    color: #00a9ea;
}

.btn-link {
    color: grey;
}

.btn-link:hover {
    color: #00a9ea;
}

.accent_colour {
    color: #00a9ea;
}

#messages {
    list-style: none;
}

/* Popover styling */
.popover {
    background: transparent;
    border: transparent;
}

.popover .arrow {
    visibility: hidden;
}

.popover-header {
    background: whitesmoke;
    /* border: 1px solid grey; */
    border-radius: 0;
    color: grey;
    
    /* Make not selectable */
    /* Ref. https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popover-body {
    visibility: hidden;
}

#more_messages_popover {
    width: 100%;
}

.text-muted-light {
    color: #D0D0D0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    height: 100%;
    background: rgba(50,50,50,0.9);
    padding: 10px;
    visibility: hidden;
}

.overlay_text {
    width: 350px;
    color: lightgrey;
}

