{% extends "layout.html.jinja2" %}
 
{% block title %}
Flack
{% endblock %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>
<script src="/static/index.js"></script>
{% endblock %}

{% block sidebar %}
    <hr>
    <h6><strong id="display_name"></strong></h6>
    <form id="change_display_name" class="form-inline">
        <div class="input-group">
            <label for="new_display_name"></label>
            <input type="text" class="form-control border-bottom-only m-0 pl-1" id="new_display_name" name="new_display_name" placeholder="<display name>" autocomplete="off">
            <div class="input-group-append">
                <button class="btn btn-link" type="submit" id="change_display_name_submit">
                    {# <span class="fa-stack">
                        <i class="far fa-circle fa-stack-2x"></i>
                        <i class="fas fa-check fa-stack-1x"></i>
                    </span> #}
                    empty
                </button>
            </div>
        </div>
    </form>
    <hr>
    <h6><strong>Channels</strong></h6>
    <ul id="channel_list">
    {% for channel in channels %}
        {% if channel["name"] == channel_name %}
        <li><a href={{channel["url"]}}><strong># {{channel["name"]}}</strong></a></li>
        {% else %}
        <li><a href={{channel["url"]}}># {{channel["name"]}}</a></li>
        {% endif %}
    {% endfor %}
        <form action="/channel/" method="POST" class="form-inline">
            <div class="input-group">
                <label id="new_channel_label" for="new_channel"></label>
                <input type="text" class="form-control border-bottom-only m-0 pl-1" id="new_channel" name="new_channel" placeholder="<new channel>" autocomplete="off">
                <div class="input-group-append">
                    <button class="btn btn-link" type="submit">
                        create
                        {# <span class="fa-stack">
                            <i class="far fa-circle fa-stack-2x"></i>
                            <i class="fas fa-plus fa-stack-1x"></i>
                        </span> #}
                    </button>
                </div>
            </div>
        </form>
    </ul>
{% endblock %}

{% block top %}
    {% if channel_name %}
        <h5 id="channel_name"><strong># {{channel_name}}</strong></h5>
    {% endif %}
    
{% endblock %}

{% block body %}
    <ul id="messages">
        {% if messages_pruned %}
            <li class="text-muted font-italic">More than 100 old messages. Earlier messages have been pruned.</li>
        {% endif %}
        {% for message in channel_messages %}
            <li>{{message.timestamp}} - {{message.username}}: {{message.message}}</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block bottom %}
    <form id="submit_new_message" class="input-group">
        <div class="input-group">
            <label for="new_message"></label>
            <input type="text" class="form-control border-bottom-only m0 pl-1" id="new_message" name="new_message" placeholder="Message #{{channel_name}}" autocomplete="off">
            <div class="input-group-append">
                <button class="btn btn-link" type="submit">
                    post
                </button>
            </div>
        </div>
    </form>
{% endblock %}