<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <!-- Our custom stylesheet -->
        <link rel="stylesheet" href="/static/style.css">

        <!-- Fontawesome icons -->
        <script src="https://kit.fontawesome.com/5eaa8e915c.js" crossorigin="anonymous"></script>

        <!-- jQuery CDN - Slim version (=without AJAX) -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!-- Popper.JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <!-- Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

        <!-- Handlebars JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>

        <!-- Socket.IO JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>

        {% block head %}
        {% endblock %}
    </head>

    <body>
        <div id="container">
            <!-- Flashes -->
            <div id="flashes">
                <!-- Moved to flashes new -->
            </div>

            <div id="subcontainer">
                <!-- Sidebar -->
                <div id="sidebar">
                    <nav>
                        <div class="sidebar-header">
                            <h3><i class="fas fa-meteor"></i> Flack</h3>
                            <h6 class="pl-1 text-muted">Definitely not a clone of Slack</h6>
                        </div>
                        {% block sidebar %}
                        {% endblock %}
                    </nav>
                </div>

                <div id="content">
                    <!-- Top content -->
                    <div id="top">
                        {% block top %}
                        {% endblock %}
                    </div>

                    <div id="middle_container">
                        <!-- Middle content -->
                        <div id="middle">
                            <br>
                            {% block body %}
                            {% endblock %}
                        </div>                        
                    </div>

                    <!-- Bottom content -->
                    <div id="bottom">
                        {% block bottom %}
                        {% endblock %}
                    </div>

                </div>
            </div>
        </div>
        
    </body>

    <div id="flashes_new">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{category}} m-2" role="alert">
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div id="overlays">
        {% block overlay %}
        {% endblock %}
    </div>

</html>