<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <!-- Our custom stylesheet -->
        <link rel="stylesheet" href="/static/style.css">

        {# <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script> #}

        <!-- Fontawesome icons -->
        <script src="https://kit.fontawesome.com/5eaa8e915c.js" crossorigin="anonymous"></script>

        <!-- jQuery CDN - Slim version (=without AJAX) -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!-- Popper.JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <!-- Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

        {% block head %}
        {% endblock %}
    
    </head>

    <body>
        <div id="container">
            <div id="flashes">
                flashes
            </div>

            <div id="subcontainer">
                <div id="sidebar">
                    sidebar
                </div>
                <div id="content">
                    <div id="top">a</div>
                    <div id="middle_container">
                        <div id="middle">
                            blah<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>test
                        </div>                        
                    </div>
                    <div id="bottom">c</div>
                </div>
                {# <div id="content">
                    content
                    <div id="top">a
                    </div>
                    <div id="middle">
                        <div id="middle_subcontainer">
                        test
                        </div>
                    </div>
                    <div id="bottom">c
                    </div>
                </div> #}
            </div>
        </div>


{# 
        <div id="top">
            <!-- Flashes -->
            <div id="flashes">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{category}} mb-0" role="alert">
                                {{message}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

            <div id="below_flashes">
                <!-- Sidebar -->
                <div id="sidebar">
                    <nav>
                        <div class="sidebar-header">
                            <h3><i class="fas fa-meteor"></i> Flack</h3>
                            <h6 class="pl-1 text-muted">Definitely not a clone of Slack</h6>
                        </div>

                        {% block sidebar %}
                        {% endblock %}
                    </nav>
                </div>

                <div id="content">
                    <!-- Top content -->
                    <div id="channel_title">
                        {% block top %}
                        {% endblock %}
                    </div>

                    <!-- Middle -->
                    <div id="middle">
                        <div id="middle_content">
                            {% block body %}
                            {% endblock %}
                            <br>
                            <br>
                        </div>
                    </div>

                    <!-- Bottom content -->
                    <div id="bottom">
                        {% block bottom %}
                        {% endblock %}
                    </div>
                </div>
            </div>

        </div> #}

    </body>
</html>